@{
    ViewBag.Title = "Contact";
}

<div class="text-center">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        12345 Flocking Way<br />
        I See, ME 12345<br />
        <abbr title="Phone">P:</abbr>
        855.555.5555
    </address>

    <address>
        <strong>Support:</strong>   <a href="#">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="#">Marketing@example.com</a>
    </address>
</div>